CachedAssetRegistry_0.bin
CachedAssetRegistryDiscovery.bin
HackAndSlash.log
Saved/Autosaves/PackageRestoreData.json
*.ini
Saved/Logs/HackAndSlash.log
*.log
*.json
*.exe
*.pdb
*.ushaderbytecode
Intermediate/Build/Win64/x64/HackAndSlash/Shipping/Core/SharedPCH.Core.Project.ValApi.ValExpApi.Cpp20.h.pch
Saved/StagedBuilds/Windows/HackAndSlash/Content/Paks/HackAndSlash-Windows.ucas
Saved/AutoScreenshot.png
*.ini
Saved/Config/WindowsEditor/EditorPerProjectUserSettings.ini
